.dc-archive-day #content-info h2 {
  margin-inline-start: 2em;
  margin-block-start: 0.5em;
}

.calendar table {
  text-align: center;
  border-collapse: collapse;
}
.calendar table caption a {
  padding-inline-start: 1em;
  padding-inline-end: 1em;
}
.calendar table th {
  text-align: center;
}
.calendar table td {
  text-align: center;
  padding: 0.125em;
}
.calendar table td a {
  font-weight: bold;
  display: block;
}
